/* mainWindow */

#MainWindow_centralWidget {
      background-color: qlineargradient(
            x1:0, y1:0, x2:1, y2:1,
            stop:0 #ECE9E6,
            stop:1 #FFFFFF
      );
}

#MainWindow_mainStackedWidget,
#MainWindow_homePage {
      background-color: transparent;
}

/* HomePage */
#HomePage_sendTextEdit,
#HomePage_receiveTextEdit {
      border: 1px solid rgba(38, 58, 84, 0.12);
      border-radius: 4px;
      background-color: #FFFFFF;
}

#HomePage_sendTextEdit:focus,
#HomePage_receiveTextEdit:focus {
      border: 2px solid #F8B500;
}

#HomePage_clienInfoWidget {
      border: 1px solid rgba(38, 58, 84, 0.12);
      border-radius: 4px;
      background-color: rgba(255, 255, 255, 0.86);
}
